<h2>About us</h2>

<p>Hi!
Scedule it is an interactive envirment created to make scheduling easy for students, tutors and admins alike. Add, drop or rechedule any class you want with the click of a button.
To know more about us <a href="/contacts/new">click here.</a>
Our goal is save precious time and effort of students and teachers, who can communicate and organize their schedule easier than ever before.
Its completely free and easy, to make the best of it <a href="/users/sign_up">Sign in</a>
.You can also checkout our mobile application <a href="#">here</a></p>