<div class= "jumbotron text-center">
    <h1>
        Schedule IT!
    </h1>
    <h3>Get you scheduling done as easy as toast!</h3>
    <img src ="http://marylanddancesport.com/wp-content/uploads/sites/10/2014/10/schedule-770x313.jpg"/>
</div>